:root {
  --background: linear-gradient(175deg,rgba(235, 235, 235, 1) 0%, rgba(240, 240, 240, 1) 50%, rgba(245, 240, 240, 1) 100%);

  --main-blue: hsl(220, 100%, 33%);
  --reserve-blue: hsl(220, 100%, 40%);
  --gray-text: hsl(220, 9%, 46%);
  --border: hsla(220, 7%, 84%, 0.557);
  --light-gray-text: hsl(224, 24%, 90%);
  --light: hsl(220, 14%, 95%);
  --beige: hsl(25, 83%, 97%);
  --main-title: hsl(215, 28%, 17%);
  --dark: hsl(215, 16%, 12%); 
  

  --primary-font: 'Nunito Sans', sans-serif;
  --secondary-font: 'Open Sans', sans-serif;

}
